@import "mixins";
@import "fonts";
@import "vars";
@import "libs";
@import "global";
@import "keyframes";

.header {
	background: url(../images/header.jpg) center 104px/ cover no-repeat;
	height: 100vh;
	min-height: 450px;

	&__top {
		display: flex;
		padding: 35px 0 29px;
		justify-content: flex-end;
	}

	&__content {
		height: calc(100vh - 104px);
		min-height: 350px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

	}

	&__title {
		@extend %montserrat;
		font-size: 100px;
		line-height: 122px;
		color: #fff;
		text-transform: uppercase;
		margin: auto 0 18px;
		opacity: 0;
	}

	&__subtitle {
		@extend %montserrat;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 2.74286px;
		color: $colorAccent;
		text-transform: uppercase;
		opacity: 0;


	}

	&__btn-scroll {
		margin-top: auto;
		padding-bottom: 52px;
		opacity: 0;
	}

	&__btn-icon {
		path {
			transition: all .5s;

		}

		&:hover,
		&:active,
		&:focus {
			path {
				transform: translateY(20px);

			}
		}
	}
}

.menu {

	&__list {
		display: flex;
		align-items: center;

	}

	&__list-item+.menu__list-item {
		padding-left: 50px;
	}

	&__list-link {
		@extend %raleway;
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
		color: $colorTitle;
		position: relative;
		padding-bottom: 11px;


		&:after {
			@extend %content;
			width: 0;
			height: 2px;
			background-color: $colorAccent;
			left: -10%;
			bottom: 0;
			transition: all .5s;

		}

		&:hover,
		&:focus,
		&:active {
			&::after {
				width: 120%;

			}
		}
	}
}


.about {
	padding: 143px 0 153px;
	background-color: $light;

	&__inner {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__title {
		font-size: 48px;
		line-height: 75px;

		white-space: nowrap;

		&::before {
			display: none;
		}
	}

	&__content {
		margin-left: 50px;
		max-width: 770px;
	}

	&__text+.about__text {
		padding-top: 15px;
	}

}


.expertise {
	padding: 143px 0 164px 0;

	&__title {
		margin-bottom: 89px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 110px;
		align-items: center;
	}

	&__list {
		max-width: 370px;
		width: 100%;
		margin-right: 30px;

	}

	&__item {
		@extend %openSans-regular;
		text-transform: uppercase;
		font-size: 11px;
		line-height: 20px;
		letter-spacing: 1px;
		color: #1d1d1d;
		position: relative;
		padding-top: 4px;

		&::after {
			@extend %content;
			left: 0;
			top: 0;
			max-width: 370px;
			width: 100%;
			height: 2px;
			background-color: #f0f0f0;
			z-index: -1;
		}
	}

	&__item+&__item {
		margin-top: 30px;
	}

	&__item-content {
		display: flex;
		justify-content: space-between;
		position: relative;

		&::after {
			@extend %content;
			left: 0;
			top: 0;
			max-width: 370px;
			width: calc(100% - 17px);
			height: 2px;
			background-color: $colorTitle;
			margin-top: -4px;
		}
	}

	&__content {
		max-width: 770px;

	}

	&__text+&__text {
		margin-top: 15px;
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, minmax(200px, 373px));
		grid-column-gap: 30px;

	}

	&__card {
		padding: 0 0 0 88px;
		position: relative;
		transition: all 1s;

	}

	&__card--design::after,
	&__card--dev::after,
	&__card--marketing::after {

		@extend %content;
		top: 0;
		left: 0;
		height: 50px;
		background-repeat: no-repeat;
	}

	&__card--design::after {
		width: 55px;
		background-image: url(../images/expertise1.svg);

	}

	&__card--dev::after {
		width: 50px;
		background-image: url(../images/expertise2.svg);

	}


	&__card--marketing::after {
		width: 50px;
		background-image: url(../images/expertise3.svg);

	}

	&__card-title {
		@extend %raleway;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 4.29px;
		margin-bottom: 14px;
		color: #333;
		text-transform: uppercase;
	}

	&__card-text {
		color: #777777;
	}
}


.features {
	background-color: $light;
	position: relative;

	&__inner {
		&::after {
			@extend %content;
			background-image: url(../images/features.jpg);
			background-size: fill;
			background-repeat: no-repeat;
			background-attachment: fixed;
			max-width: 705px;
			width: 50%;
			height: 100%;
			left: 0;
			top: 0;
			right: 50%;
			bottom: 0;

		}
	}

	&__content {
		width: 50%;
		margin-left: auto;
		padding: 101px 30px 180px 130px;
	}

	&__title {
		margin-bottom: 67px;

		&::before {
			display: none;
		}
	}

	&__text {
		max-width: 470px;
		color: $colorTitle;
	}

	&__text+&__text {
		margin-top: 15px;
	}
}

.portfolio {
	padding: 139px 0 0;

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 110px;

	}

	&__buttons {
		display: flex;

	}

	&__btn {
		@extend %openSans-semiBold;
		font-size: 12px;
		line-height: 24px;
		letter-spacing: 2px;
		color: #333;
		margin-left: 40px;
		padding-bottom: 9px;
		position: relative;
		text-transform: uppercase;
		transition: all .3s;

		&:after {
			@extend %content;
			width: 120%;
			height: 2px;
			background-color: $colorAccent;
			left: -10%;
			bottom: 0;
			transition: all .2s;
			opacity: 0;

		}

		&:hover,
		&:focus,
		&:active {
			color: $colorAccent;
		}
	}

	.mixitup-control-active {
		&:after {
			opacity: 1;

		}

		&:hover,
		&:focus,
		&:active {
			color: #333;
		}

	}

	&__items {
		display: grid;
		grid-template-columns: repeat(4, minmax(150px, 343px));
		grid-gap: 22px;
		margin-bottom: 22px;
		justify-content: center;

	}

	&__item-col {
		display: grid;
		grid-row-gap: 22px;
	}

	&__item-col--1 {
		grid-template-rows: 494px 395px;

	}

	&__item-col--2 {
		grid-template-rows: repeat(3, 289px);

	}

	&__item-col--3 {
		grid-template-rows: 367px 523px;

	}

	&__item-col--4 {
		grid-template-rows: 318px 572px;

	}

	&__item {
		text-transform: uppercase;
		position: relative;

		&::after {
			@extend %content;
			width: 100%;
			height: 100%;
			background-color: rgba(36, 33, 33, 0.8);
			outline: 10px solid rgba(255, 255, 255, 0.1472);
			outline-offset: -10px;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 0;
			transition: all .3s;
		}

		&:hover,
		&:focus,
		&:active {


			&::after {
				opacity: 1;
			}
		}
	}

	&__item-img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		max-width: 343px;
		height: 100%;
		max-height: 572px;
		background-size: cover;
	}

	&__item-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 10;
		opacity: 0;
		transition: all .6s;

		&:hover,
		&:focus,
		&:active {
			opacity: 1;
		}
	}

	&__item-title {
		color: rgba(255, 255, 255, 1);
		@extend %openSans-semiBold;
		font-size: 14px;
		line-height: 14px;
		letter-spacing: 1.4px;
		margin-bottom: 10px;
	}

	&__item-descr {

		display: block;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 1px;
		color: #FFF;
	}

	&__btn-more {
		background-color: $light;
		text-transform: uppercase;
		padding: 41px 0;
		text-align: center;
		width: 100%;
		@extend %montserrat;
		line-height: 17px;
		letter-spacing: 1.2px;
		color: $colorTitle;
		transition: all .2s;
		cursor: pointer;
		margin-top: 52px;

		&:hover,
		&:focus,
		&:active {
			color: $colorAccent;

		}
	}


}

.presentation {
	padding-bottom: 166px;

	&__blockquote {
		text-align: center;
		padding: 130px 0 148px;
		@extend %merriweather;
	}

	&__blockquote-text {
		font-size: 18px;
		line-height: 36px;
		color: #242121;
		max-width: 650px;
		margin: 0 auto 51px;

	}

	&__blockquote-autor {
		color: #9E9E9E;
		font-size: 14px;
		line-height: 32px;
	}

	&__video-wrapper {
		background-size: cover;
		margin-bottom: 164px;
		position: relative;
		cursor: pointer;
	}

	&__video {
		min-width: 100%;
		max-height: 324px;
		width: auto;
		height: auto;
		object-fit: cover;

	}

	&__video-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;

	}

	&__video-pause {

		transition: all .3s;
		width: 55px;
		height: 65px;


	}

	&__video-play {
		width: 55px;
		height: 65px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, minmax(65px, 1fr));
		grid-column-gap: 50px;
		justify-content: center;

	}

	&__list-item {
		text-align: center;

	}

	&__list-num {
		@extend %montserrat;
		font-size: 60px;
		line-height: 73px;
		color: $colorTitle;
		margin-bottom: 9px;

	}

	&__list-descr {
		@extend %openSans-regular;
		font-size: 14px;
		line-height: 19px;
		color: #00B2A0;


	}

}

.gallery {
	background-color: $light;

}

.gallery-slider {
	padding: 80px 83px;
	background-color: $light;


	.slick-btn {
		z-index: 10;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

	}

	.slick-prev {
		left: 0;
	}

	.slick-next {
		right: 0;
	}

	.slick-dots {
		display: flex;
		align-items: center;

		li {
			font-size: 0;
			width: 6px;
			height: 6px;
			background-color: #242121;
			border-radius: 50%;
			opacity: 0.4;
			transition: all .3s;

			&:focus-visible {
				outline: none;
			}

		}

		li+li {
			margin-left: 13px;
		}

		li.slick-active {
			opacity: 1;
			transform: scale(1.6);

		}
	}

	&__title {
		@extend %montserrat;
		font-size: 40px;
		line-height: 52px;
		color: #242121;
		margin-bottom: 32px;
		max-width: 643px;

		&::before {
			background-color: $light;
		}

	}

	&__text {

		color: #777777;
		max-width: 559px;

	}

	&__text+&__text {
		margin-top: 10px;
		margin: 10px 0 30px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		width: 60%;
		max-width: 680px;
		margin: auto 60px auto 0;
	}

	&__img {
		max-width: 442px;
		width: 100%;
		object-fit: cover;
		max-height: 680px;
		height: 100%;
	}
}

.team {
	padding: 120px 0 164px;

	&__title {
		margin-bottom: 102px;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, minmax(100px, 370px));
		grid-gap: 30px;
	}

	&__box {
		text-align: center;
		margin-top: 35px;
	}

	&__img {
		object-fit: cover;
		width: 100%;
		max-width: 370px;
		max-height: 440px;
	}

	&__name {
		@extend %montserrat;
		line-height: 17px;
		color: #333;
		margin-bottom: 12px;
	}

	&__descr {
		font-size: 12px;
		line-height: 16px;
		color: #C2C2C2;
	}
}

.pricing {
	padding: 144px 0 162px;
	background-color: $light;

	&__title {
		margin-bottom: 90px;

		&::before {
			background-color: $light;
		}
	}


	&__cards {
		display: grid;
		grid-template-columns: repeat(3, minmax(200px, 370px));
		grid-gap: 30px;
	}

	&__card {
		padding: 25px 25px 53px;
		background-color: #fff;
		text-align: center;
		color: $colorTitle;
		transition: all .5s;

		&:hover,
		&:focus,
		&:active {
			box-shadow: 0 3px 30px -10px rgba($colorText, .3);
			transform: translateY(-3px);

			.pricing__card-link {
				color: $colorAccent;
			}
		}
	}

	&__card-title {

		@extend %openSans-semiBold;
		font-size: 16px;
		line-height: 22px;
		text-align: left;
		margin-bottom: 15px;
	}

	&__card-price {
		font-size: 80px;
		line-height: 109px;
		margin-bottom: 51px;

		sup {
			font-size: 40px;
			line-height: 54px;
			top: -0.7em;
		}

		sub {

			font-size: 20px;
			line-height: 27px;
		}
	}

	&__list {
		margin-bottom: 69px;

	}

	&__list-item {

		font-size: 16px;
		line-height: 22px;
		margin-bottom: 30px;
	}

	&__card-link {
		color: #242121;
		@extend %montserrat;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		transition: all .2s;
	}
}

.subscription {
	padding: 145px 0 162px;
	position: relative;

	&__content {
		width: 50%;

	}

	&__title {
		margin-bottom: 94px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
	}

	&__input {
		border: none;
		border-bottom: 2px solid $colorText;
		padding: 16px 5px;
		margin-bottom: 17px;

		&::placeholder {
			@extend %openSans-regular;
			font-size: 12px;
			line-height: 20px;
			letter-spacing: 3.70909px;
			color: #B8B8B8;
		}
	}


	&__textarea {
		margin-top: 53px;
		padding: 16px 2px;
		border: none;
		border-bottom: 2px solid $colorText;
		height: 156px;
		resize: none;


		&::placeholder {
			@extend %openSans-regular;
			font-size: 12px;
			line-height: 20px;
			letter-spacing: 3.70909px;
			color: #B8B8B8;
		}

	}

	&__btn {

		background-color: $colorTitle;
		@extend %montserrat;
		font-size: 11px;
		line-height: 13px;
		letter-spacing: 2px;
		color: #fff;
		padding: 17px 58px 15px;
		text-transform: uppercase;
		transition: all .3s;

		&:hover,
		&:focus,
		&:active {
			color: $colorAccent;
			background-color: $colorText;
		}
	}

	&__map-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 50%;
	}

	&__map {
		padding-left: 101px;
		width: 100%;
		max-width: 635px;
		height: 100%;

		iframe {
			width: 100%;
			height: 100%;
		}
	}

}

.footer {
	background-color: $colorTitle;
	padding: 110px 0 59px;

	.logo {
		padding: 0 54px 26px;
		position: relative;
		margin-bottom: 73px;

		&::after {
			@extend %content;
			width: 0;
			height: 4px;
			background-color: $colorAccent;
			bottom: 0;
			left: 50%;
			right: 50%;
			transition: all .5s;
		}
	}

	.logo.anim::after {

		width: 150px;
		right: 0;
		left: 0;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(6, auto);
		grid-gap: 33px;
		margin-bottom: 65px;
		justify-content: center
	}

	&__list-link {
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 4px;
		color: #FFFFFF;
		text-transform: uppercase;
		transition: all .2s;

		&:hover,
		&:focus,
		&:active {
			color: $colorAccent;
		}
	}

	&__address,
	&__link {
		@extend %openSans-regular;

		line-height: 32px;
		color: #A8A8A8;
		margin-bottom: 15px;
		transition: all .2s;

		&:hover,
		&:focus,
		&:active r {
			color: #fff;
		}
	}

	&__link-top {
		transition: all .4s;

		img {
			width: 17px;
			height: 9px;
		}

		&:hover,
		&:focus,
		&:active {
			transform: translateY(-5px);
		}
	}
}

@import "media";